
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Ubuntu-Light.ttf') format('woff'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Ubuntu-Regular.ttf') format('woff'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Ubuntu-Medium.ttf') format('woff'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Ubuntu-Bold.ttf') format('woff'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/Ubuntu-LightItalic.ttf') format('woff'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Ubuntu-Italic.ttf') format('woff'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/Ubuntu-MediumItalic.ttf') format('woff'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/Ubuntu-BoldItalic.ttf') format('woff'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



:root {
    --brand: #15b28d;
    --brand-brighter: #0dd1a2;
    --base-font-color: #ffffff;
    --black: #1c1c1c;
    --menu: 15px;
    --btn-small: 14px;
    --btn-big: 21px;
    --tel-small: 15px;
    --h1: 96px;
    --h2: 44px;
    --h3: 24px;
    --h4: 21px;
    --text-regular: 17px;
    --text-regular-line-height: 150%;
    --tab: 28px;
    --light: 15px;
    --scroll: 11px;
    --swiper-pagination: 18px;
}

html {
    font-family: 'Ubuntu';
}

body {
    background-image: url('../image/base-page.png');
    background-position: 0 0 ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.page-main {
    padding-left: 90px;
    padding-right: 76px;
}

.heading {
    display: inline-block;
    font-size: var(--h2);
    font-weight: 500;
    color: var(--base-font-color);
    border-bottom: 3px solid var(--brand-brighter);
}

.text {
    font-size: var(--text-regular);
    font-weight: 300;
    line-height: var(--text-regular-line-height);
    color: var(--base-font-color);
    width: 494px;
}

.swiper {
    width: 562px;
    height: 300px;
}

.body--first-page {
    background-image: url('../image/first-page.png');
    background-position: 0 0 ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.page-header {
    padding-left: 64px;
    padding-top: 40px;
    padding-right: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header__logo {
    display: block;
}

.page-header__list {
    display: flex;
    column-gap: 39px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-header__item {
    font-size: var(--menu);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--base-font-color);
    font-weight: 500;
}

.page-header__container-right {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.page-header__button {
    padding: 7px 13px;
    border: 2px solid var(--brand-brighter);
    background-color: transparent;
    font-size: var(--btn-small);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--base-font-color);
}

.page-header__tel-link {
    text-decoration: none;
    color: var(--base-font-color);
    font-size: var(--tel-small);
    font-weight: 700;
}

.hero {
    padding-left: 120px;
    padding-top: 153px;
    padding-bottom: 154px;
}

.hero__heading {
    font-size: var(--h1);
    font-weight: 400;
    color: var(--base-font-color);
    margin: 0;
    margin-bottom: 24px;
}

.hero__subtitle {
    margin-bottom: 71px;
}

.hero__button {
    display: inline-flex;
    align-items: center;
    column-gap: 11px;
    background-color: transparent;
    border: 3px solid var(--brand);
    border-radius: 4px;
    padding: 16px 40px 15px;
    text-transform: uppercase;
    font-size: var(--btn-big);
    font-weight: 700;
    color: var(--base-font-color);
}

.hero__button--filled {
    background-color: var(--brand);
    margin-right: 24px;
}

.page-footer {
    position: relative;
    padding-left: 63px;
    padding-bottom: 30px;
    display: flex;
}

.page-footer--pointer-centered {
    justify-content: center;
}

.page-footer__social-container {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-right: 399px;
    opacity: 0.64;
}

.page-footer__social-link {
    width: 32px;
    text-align: center;
    padding-top: 4px;
}

.page-footer__scroll-text {
    display: block;
    position: relative;
    padding-top: 2px;
    height: 100%;
    width: 288px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: var(--scroll);
    text-align: center;
    color:var(--base-font-color);
    opacity: 0.64;
}

.page-footer__scroll-text::before {
    content: '';
    position: absolute;
    display: block;
    background-image: url('../image/scroll.svg');
    background-position: 0 0 ;
    background-size: 100% 100%;
    width: 15px;
    height: 7px;
    bottom: 0;
    right: 46.5%;
}

.page-footer__scroll-text--no-text {
    width: 15px;
}

.page-footer__image {
    position: absolute;
    bottom: 0;
    right: 0;
}

.page-main--two-columns {
    display: flex;
    justify-content: space-between;
    padding-bottom: 13px;
}

.explanation {
    padding-top: 76px;
}

.explanation__heading {
    margin: 0;
    margin-bottom: 50px;
}

.explanation__text {
    padding-left: 30px;
    margin: 0;
    margin-bottom: 40px;
    width: 440px;
}

.explanation__text:last-child {
    margin-bottom: 0;
}

.gallery {
    padding-top: 281px;
}

.gallery__swiper-container {
    outline: 4px solid var(--brand-brighter);
    position: relative;
}

.swiper {
    transform: translate(-11px,11px);
}

.gallery__management-container {
    display: flex;
    justify-content: end;
    align-items: center;
    transform: translate(-11px,11px);
}

.gallery__swiper-pagination {
    margin-right: 21px;
    width: auto;
    color: var(--base-font-color);
    font-size: var(--swiper-pagination);
}

.gallery__button {
    padding: 14px 26px;
    background-color: var(--black);
    border: 0;
}

.gallery__text {
    font-size: var(--h3);
    color: var(--base-font-color);
    position: absolute;
    bottom: -5px;
    left: -173px;
    z-index: 1;
    width: 192px;
    text-align: right;
}

.product {
    padding-top: 76px;
    padding-right: 126px;
}

.product__heading {
    margin: 0;
}

.product__shell-card {
    display: grid;
    grid-template-columns: repeat(2,535px);
}

.info-card:nth-child(1) {
    margin-top: 46px;
    margin-right: 58px;
}

.info-card:nth-child(2) {
    margin-top: 63px;
}

.info-card:nth-child(3) {
    margin-top: 95px;
    margin-right: 78px;
}

.info-card:nth-child(4) {
    margin-top: 112px;
}

.info-card {
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
    max-width: 535px;
}

.info-card--outline {
    outline: 2px solid var(--brand-brighter);
    position: relative;
}

.info-card__img {
    transform: translate(-8px, 8px);
}

.info-card__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -20px;
    bottom: -20px;
    background-color: var(--base-font-color);
    color: var(--brand-brighter);
    width: 40px;
    height: 40px;
    font-size: var(--tab);
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
}

.info-card__heading--product {
    font-size: var(--h4);
    color: var(--base-font-color);
    font-weight: bold;
    max-width: 110px;
    position: relative;
}

.info-card__text--product {
    font-size: var(--light);
    color: var(--base-font-color);
    font-weight: lighter;
    max-width: 290px;
}

.info-card__heading--dotted1::after {
    content: url('../image/dotted.svg');
    position: absolute;
    right: -253px;
    top: 9px;
}